*.o
*.d
*.pyc
conffile.tab.[ch]
conffile.yy.[ch]
/version.c
/secnet
/eax-*-test
/eax-*-test.confirm
/ipaddrset-test.new

/config.log
/config.h
/config.status
/stamp-h
/Makefile

msgcode-test
msgcode-test.confirm

autom4te.cache

*~
TAGS

debian/files
debian/secnet.debhelper.log
debian/*.debhelper
debian/secnet
debian/secnet.substvars
*.xcodeproj
/build

test-example/*.key
test-example/sites.conf
test-example/bogus-setup-request
build-stamp

test/*.conf
