## Build artifacts.
*.a
*.d
*.o
*.stamp
/lib/t/toytest
/src/toy

## Autoconf cruft.

/autom4te.cache/
/config.log
/config.status
/configure

## subdirmk-generated
/main.mk
/subdirmk/regen.mk
Makefile
Subdir.mk
*.tmp
