*.o
.*.d
*.pyc
conffile.tab.[ch]
conffile.yy.[ch]
pubkeys.fl
pubkeys.yy.[ch]
/version.c
/secnet
/eax-*-test
/eax-*-test.confirm
/ipaddrset-test.new
/ipaddrset.confirm

/config.log
/config.h
/config.status
/config.stamp
/config.stamp.in
Makefile
/common.make
/test-common.make

msgcode-test
msgcode-test.confirm

autom4te.cache

*~
*.tmp
TAGS

.makefiles.stamp
Dir.mk
/main.mk
/Final.mk

debian/files
debian/secnet.debhelper.log
debian/*.debhelper
debian/secnet
debian/secnet.substvars
*.xcodeproj
/build

test-example/*.key
test-example/sites.conf
test-example/bogus-setup-request
build-stamp

[sm]test/d-*
stest/udp-preload.so

base91s/*.[ch]
base91s/base91s
