<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>LANG</key>
		<string>en_GB.UTF-8</string>
		<key>LC_ALL</key>
		<string>en_GB.UTF-8</string>
	</dict>
	<key>Label</key>
	<string>uk.org.greenend.secnet</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/sbin/secnet</string>
		<string>-m</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/</string>
 	<key>RunAtLoad</key>
 	<true/>
</dict>
</plist>
