<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
 This file is part of secnet.
 See README for full list of copyright holders.

 secnet is free software; you can redistribute it and/or modify it
 under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 3 of the License, or
 (at your option) any later version.
 
 secnet is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 version 3 along with secnet; if not, see
 https://www.gnu.org/licenses/gpl.html.
  -->
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>LANG</key>
		<string>en_GB.UTF-8</string>
		<key>LC_ALL</key>
		<string>en_GB.UTF-8</string>
	</dict>
	<key>Label</key>
	<string>uk.org.greenend.secnet</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/sbin/secnet</string>
		<string>-m</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/</string>
 	<key>RunAtLoad</key>
 	<true/>
</dict>
</plist>
